#player-menu {
  display: flex;
  justify-content: space-around; /* Center items vertically */
  align-items: center; /* Center items horizontally */
  width: 50%;
  background-color: whitesmoke; /* White background */
  padding: 20px;
  border: 1px solid #cfd8dc; /* Light blue border */
  border-radius: 5px;
  list-style-type: none; /* Remove default list styling */
  margin-left: auto;
  margin-right: auto;
}